.product-images {
    height: 700px;
    width: 450px;
}

div.owl-controls, .owl-controls div {
    height: auto;
    top: calc(50% - 30px);
    color: #7395AE;
    font-size: 48px;
  }
  
  .homepage-slider {
    position: relative;
  }
  
  .owl-prev {
    position: absolute;
    left: 60px;
    margin-top: -30px;
  }
  
  .owl-next {
    position: absolute;
    right: 60px;
    margin-top: -30px;
  }
  